<section id="achievements" class="stats" aria-labelledby="stats-title">
	<h2 id="stats-title" class="visually-hidden">Our Achievements</h2>
	<div class="stats__container">
		<ul class="stats__list">
			<li class="stats__item">
				<div class="stats__icon">
					<img src="img/pages/search-engine/achievements/wallet-leads.svg" alt="wallet icon" />
				</div>
				<p class="title-4 stats__description">Marketing Specialists</p>
			</li>
			<li class="stats__item">
				<div class="stats__icon">
					<img src="img/pages/search-engine/achievements/discount-traffic.svg" alt="discount icon" />
				</div>
				<p class="title-4 stats__description">Industries Served</p>
			</li>
			<li class="stats__item">
				<div class="stats__icon">
					<img src="img/pages/search-engine/achievements/trophy-top.svg" alt="wallet icon" />
				</div>
				<p class="title-4 stats__description">Years on the market</p>
			</li>
			<li class="stats__item">
				<div class="stats__icon">
					<img src="img/pages/search-engine/achievements/knight-seo.svg" alt="knight icon" />
				</div>
				<p class="title-4 stats__description">Years on the market</p>
			</li>
		</ul>
	</div>
</section>
