<section id="audit" class="audit">
	<div class="audit__container">
		<div class="audit__content">
			<h2 class="title-2 audit__title">Detailed audit</h2>
			<p class="audit__text">
				If your advertising campaign is not paying off, you want to supervise a
				contractor or a specialist in the company, to improve current
				performance - come to us for an audit. We conduct a complete and
				thorough audit
			</p>
			<ul class="audit__list">
				<li class="audit__list-item">Settings, bids and</li>
				<li class="audit__list-item">Adverts and values in them</li>
				<li class="audit__list-item">
					Adjustments for age, gender, and 16 other checkpoints
				</li>
				<li class="audit__list-item">Ineffective sites and phrases</li>
			</ul>
			<a
				href="#"
				class="button audit__button"
				role="button"
				aria-label="Request an audit fee"
				>Request an audit fee</a
			>
			<p class="audit__policy">
				I understand that Performiq will securely hold my data in accordance
				with their privacy policy.
			</p>
		</div>
		<div class="audit__img">
			<picture>
				<source srcset="img/pages/main/audit/audit-image-800.webp" type="image/webp" />
				<img src="img/pages/main/audit/audit-image-800.gif" alt="audit" />
			</picture>
		</div>
	</div>
</section>
