<section id="benefit" class="benefit">
	<div class="benefit__container">
		<h2 class="title-2 benefit__title">See how a successful split benefited the service</h2>
		<p class="benefit__text">Efficiency is at the heart of our programmatic advertising service, featuring strategic planning, real-time optimizations, and ongoing tracking of key performance indicators (KPIs). By fine-tuning bids and enhancing ad creatives, our methodology delivers streamlined programmatic campaigns designed for peak performance and impactful engagement.</p>
		<div class="benefit__list">
			<div class="benefit__line line-benefit">
				<div class="line-benefit__title">Conversion to an order</div>
				<div class="line-benefit__flex">
					<div class="line-benefit__item item-benefit item-benefit_black">
						<div class="item-benefit__content">1%</div>
						<div class="item-benefit__descr">Start</div>
					</div>
					<div class="line-benefit__item item-benefit item-benefit_black">
						<div class="item-benefit__content">1.5%</div>
						<div class="item-benefit__descr">1 month</div>
					</div>
					<div class="line-benefit__item item-benefit item-benefit_black">
						<div class="item-benefit__content">1.5%</div>
						<div class="item-benefit__descr">2 month</div>
					</div>
					<div class="line-benefit__item item-benefit item-benefit_black">
						<div class="item-benefit__content">...</div>
						<div class="item-benefit__descr">from 3 to 12 month.</div>
					</div>
					<div class="line-benefit__item item-benefit item-benefit_black">
						<div class="item-benefit__content">1.5%</div>
						<div class="item-benefit__descr">Total</div>
					</div>
				</div>
			</div>
			<div class="benefit__line line-benefit">
				<div class="line-benefit__title">Income received additionally every month</div>
				<div class="line-benefit__flex">
					<div class="line-benefit__item item-benefit item-benefit_green">
						<div class="item-benefit__content">+ £1000</div>
					</div>
					<div class="line-benefit__item item-benefit item-benefit_green">
						<div class="item-benefit__content">+ £2000</div>
					</div>
					<div class="line-benefit__item item-benefit item-benefit_green">
						<div class="item-benefit__content">...</div>
					</div>
					<div class="line-benefit__item item-benefit item-benefit_green">
						<div class="item-benefit__content">+ £12 000</div>
					</div>
				</div>
			</div>
			<div class="benefit__line line-benefit">
				<div class="line-benefit__title">One-off payment for the service</div>
				<div class="line-benefit__flex">
					<div class="line-benefit__item item-benefit">
						<div class="item-benefit__content">£2000</div>
					</div>
					<div class="line-benefit__item item-benefit">
						<div class="item-benefit__content">£ 0</div>
					</div>
					<div class="line-benefit__item item-benefit">
						<div class="item-benefit__content">...</div>
					</div>
					<div class="line-benefit__item item-benefit">
						<div class="item-benefit__content">£2000</div>
					</div>
				</div>
			</div>
		</div>
		<div class="benefit__block block-benefit">
			<div class="block-benefit__title">You paid once. The increased conversion always works.</div>
			<p class="block-benefit__text">On average, between 6 and 10 split tests can be performed per year.</p>
		</div>
	</div>
</section>
