<section id="channels" class="channels">
	<div class="channels__container">
		<h2 class="title-2 channels__title">What other channels we are working with</h2>
		<div class="channels__flex">
			<div class="channels__item item-channels">
				<h3 class="title-3 item-channels__title">Improving usability</h3>
				<p class="item-channels__text">Increase website conversion rates across the entire sales funnel. Helping you earn more from your budget by optimising conversions.</p>
				<a href="#" class="button item-channels__button" aria-label="Learn more about improving usability">More info</a>
			</div>
			<div class="channels__item item-channels">
				<h3 class="title-3 item-channels__title">SEO</h3>
				<p class="item-channels__text">Improve brand awareness in narrow target segments. Only potential customers see your banner.</p>
				<a href="#" class="button item-channels__button" aria-label="Learn more about improving usability">More info</a>
			</div>
			<div class="channels__item item-channels">
				<h3 class="title-3 item-channels__title">Email-marketing</h3>
				<p class="item-channels__text">Improve brand awareness in narrow target segments. Only potential customers see your banner.</p>
				<a href="#" class="button item-channels__button" aria-label="Learn more about improving usability">More info</a>
			</div>
		</div>
	</div>
</section>
