<section id="cumulative" class="cumulative">
	<div class="cumulative__container">
		<div class="cumulative__top">
			<h2 class="title-2 cumulative__title"><span>Cumulative</span><br />result</h2>
			<p class="cumulative__descr">Once successfully tested and implemented, you'll see an increase in conversions and revenue on an ongoing basis. And you only pay for it once.</p>
		</div>
		<div class="cumulative__items">
			<div class="cumulative__item item-cumulative">
				<div class="item-cumulative__img">
					<img src="img/pages/e-commerce/cumulative/headphones.svg" alt="headphones" />
				</div>
				<div class="item-cumulative__text"><span>Increase</span> in the number of orders and calls</div>
			</div>
			<div class="cumulative__item item-cumulative">
				<div class="item-cumulative__img">
					<img src="img/pages/e-commerce/cumulative/human-money.svg" alt="human-money" />
				</div>
				<div class="item-cumulative__text"><span>Reducing the cost</span> of customer acquisition</div>
			</div>
			<div class="cumulative__item item-cumulative">
				<div class="item-cumulative__img">
					<img src="img/pages/e-commerce/cumulative/money.svg" alt="money" />
				</div>
				<div class="item-cumulative__text"><span>Increased revenue</span> for the same advertising budget</div>
			</div>
		</div>
	</div>
</section>
