<section id="faq" class="faq">
	<div class="faq__container">
		<h2 class="title-2 faq__title">Frequent questions about split-testing</h2>
		<ul class="faq__list">
			<li class="faq__item item-faq">
				<div class="item-faq__question">How is the service structured?</div>
				<p class="item-faq__answer">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque, laborum.</p>
			</li>
			<li class="faq__item item-faq">
				<div class="item-faq__question">On what basis do we generate test ideas?</div>
				<p class="item-faq__answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse enim ullam fugiat commodi obcaecati tempora nemo aut maiores, doloribus quaerat.</p>
			</li>
			<li class="faq__item item-faq">
				<div class="item-faq__question">What exactly are you going to change on the site when you split test?</div>
				<p class="item-faq__answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos at ab minima officiis repellat. Sequi.</p>
			</li>
			<li class="faq__item item-faq">
				<div class="item-faq__question">Do you negotiate the hypotheses that you introduce?</div>
				<p class="item-faq__answer">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae tempora saepe, a vitae libero adipisci?</p>
			</li>
			<li class="faq__item item-faq">
				<div class="item-faq__question">How much is 1 point of gain? And how long does one test last?</div>
				<p class="item-faq__answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id optio vitae doloribus minima. Voluptatibus, praesentium.</p>
			</li>
			<li class="faq__item item-faq">
				<div class="item-faq__question">How will the size of the increase be counted and how will reporting take place?</div>
				<p class="item-faq__answer">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi nisi at facilis inventore ea optio.</p>
			</li>
		</ul>
		<button class="button faq__button">i have some questions left</button>
	</div>
</section>
