<section class="google-optimize">
	<div class="google-optimize__container">
		<h2 class="title-2 google-optimize__title"><span>Google Optimize</span><img src="img/pages/e-commerce/google-optimize/title-icon.png" alt="title icon" /></h2>
		<p class="google-optimize__text">The evaluation of the actual increase is done in Google Optimize. This is a service for testing the site interface. With its help, we divide traffic: half of the users are shown the basic version of the page, and the other half are shown the modified version. Google Analytics counts the conversions and passes them to Optimize to estimate to assess the likelihood of one version being superior to the other.</p>
		<div class="google-optimize__wrapper">
			<div class="google-optimize__content">
				<img src="img/pages/e-commerce/google-optimize/google-optimize.png" alt="google optimize" />
			</div>
			<div class="google-optimize__bottom">
				<svg xmlns="http://www.w3.org/2000/svg" width="74" height="38" viewBox="0 0 74 38" fill="none">
					<path d="M73 1L37 37L1 1" stroke="#2D2D2D" />
				</svg>
			</div>
		</div>
	</div>
</section>
