<section id="growth" class="growth">
	<div class="growth__container">
		<article class="growth__item">
			<div class="growth__content">
				<h2 class="growth__title"><span>Gone to the email gap:</span> 3x increase in sales and loyalty for an online art products shop</h2>
				<p class="growth__text">Read how we built an email marketing system for the client in the case study above. We did everything to make subscribers smile and bring money: character, games, triggers. We'll do the same for you</p>
				<button class="button growth__button">Do the same for me</button>
			</div>
			<div class="growth__img">
				<img src="img/pages/email/growth/girl-with-laptop.svg" alt="girl with laptop" />
			</div>
		</article>
	</div>
</section>
