<div class="menu" id="menu">
	<div class="menu__container">
		<div class="menu__top">
			<a href="#" class="menu__logo logo">
				<img src="img/logo-desktop.svg" alt="logo" />
			</a>
			<div class="menu__close">&times;</div>
		</div>
		<ul class="menu__list">
			<li class="menu__item">
				<a href="#" class="menu__link">SEO</a>
			</li>
			<li class="menu__item">
				<a href="#" class="menu__link">Email-marketing</a>
			</li>
			<li class="menu__item">
				<a href="#" class="menu__link">Programmatic</a>
			</li>
			<li class="menu__item">
				<a href="#" class="menu__link">Conversion Optimisation</a>
			</li>
			<li class="menu__item">
				<a href="#" class="menu__link">Social Media Ads</a>
			</li>
			<li class="menu__item">
				<a href="#" class="menu__link">Google Ads</a>
			</li>
		</ul>
		<div class="menu__bottom">
			<div class="menu__info">
				<address class="menu__address">Zugerstrasse, 49 6314,<br />Unteraegeri Switzerland</address>
				<div class="menu__number">+7 (495) 792-29-508</div>
				<div class="menu__email">info@performiq.com</div>
			</div>
			<div class="menu__socials">
				<a aria-label="link to whatsapp" href="#" class="menu__socials-link">
					<img loading="lazy" src="img/icons/whatsapp-icon_dark.svg" alt="whatsapp icon" />
				</a>
				<a aria-label="link to telegram" href="#" class="menu__socials-link">
					<img loading="lazy" src="img/icons/telegram-icon_dark.svg" alt="telegram icon" />
				</a>
			</div>
		</div>
	</div>
</div>
<header class="header">
	<div class="header__container">
		<a href="#" class="logo">
			<img src="img/logo-desktop.svg" alt="logo" />
		</a>
		<nav class="nav-header">
			<ul class="nav-header__list">
				<li class="nav-header__item">
					<a href="#" class="nav-header__link">cases</a>
				</li>
				<li class="nav-header__item">
					<a href="#" class="nav-header__link">Services</a>
				</li>
				<li class="nav-header__item">
					<a href="#" class="nav-header__link">ABOUT</a>
				</li>
				<li class="nav-header__item">
					<a href="#" class="nav-header__link">Contact</a>
				</li>
			</ul>
		</nav>
		<div class="nav-header__right">
			<a href="tel:+74957922950" class="nav-header__phone-number">+7 (495) 792-29-50</a>
			<div class="nav-header__menu">
				<div class="burger">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<div class="nav-header__socials">
					<a aria-label="telegram" href="#" class="nav-header__telegram">
						<img src="img/icons/telegram-icon_dark.svg" alt="whatsapp icon" />
						<img loading="lazy" class="nav-header__telegram_hover" src="img/icons/telegram-icon_light.svg" alt="whatsapp icon" />
					</a>
					<a aria-label="whatsapp" href="#" class="nav-header__whatsapp">
						<img src="img/icons/whatsapp-icon_dark.svg" alt="whatsapp icon" />
						<img loading="lazy" class="nav-header__whatsapp_hover" src="img/icons/whatsapp-icon_light.svg" alt="whatsapp icon" />
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="header__progress-bar progress-bar">
		<div class="progress-bar__line"><span></span></div>
		<div class="progress-bar__container">
			<div class="progress-bar__menu">
				<ul class="progress-bar__list">
					<li class="progress-bar__item">
						<a href="#saas" class="progress-bar__link">SAAS</a>
					</li>
					<li class="progress-bar__item">
						<a href="#cases" class="progress-bar__link">CASES</a>
					</li>
					<li class="progress-bar__item">
						<a href="#services" class="progress-bar__link">SERVICES</a>
					</li>
					<li class="progress-bar__item">
						<a href="#audit" class="progress-bar__link">AUDIT</a>
					</li>
					<li class="progress-bar__item">
						<a href="#callback" class="progress-bar__link">CALLBACK</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>
