<section class="hypotheses">
	<div class="hypotheses__container">
		<div class="hypotheses__main">
			<div class="hypotheses__title">
				<span>Could you<br />test my<br />hypotheses?</span>
			</div>
			<p class="hypotheses__text">In a pay-for-growth tariff, we do not agree on split-test ideas, as we have a direct financial interest in conducting only successful tests. If our hypothesis does not work, we simply earn nothing.</p>
			<p class="hypotheses__text">However, there are cases when the client wants to participate in the selection of ideas for testing or to test their ideas. We have a separate tariff for such a case.</p>
		</div>
		<div class="hypotheses__item item-hypotheses">
			<div class="item-hypotheses__top">
				<div class="item-hypotheses__title">Payment for analysis and idea generation services</div>
				<div class="item-hypotheses__price">from £1500</div>
			</div>
			<div class="item-hypotheses__main">
				<div class="item-hypotheses__list-title">That includes</div>
				<ul class="item-hypotheses__list">
					<li class="item-hypotheses__list-item">At least 3 ideas per month are analysed and generated.</li>
					<li class="item-hypotheses__list-item">We are in agreement with you about the implementation.</li>
					<li class="item-hypotheses__list-item">Testing ideas</li>
				</ul>
				<button class="button item-hypotheses__button">Works for me!</button>
			</div>
		</div>
	</div>
</section>
