<section class="impact impact_dark">
	<div class="impact__container">
		<h2 class="title-2 impact__title">We made a game that was played by 25% <span>of the people who opened it</span></h2>
		<p class="impact__subtitle">Created a game to attract people to the client's promotions. To see the content, you had to answer the question correctly</p>
		<div class="impact__flex">
			<div class="impact__item item-impact">
				<div class="item-impact__img">
					<img src="img/pages/email/impact/icon-goal.svg" alt="goal icon" />
				</div>
				<div class="item-impact__content">
					<div class="item-impact__title">Purpose</div>
					<p class="item-impact__descr">Increase user engagement in emails</p>
				</div>
			</div>
			<div class="impact__item item-impact">
				<div class="item-impact__img">
					<img src="img/pages/email/impact/icon-results.svg" alt="results icon" />
				</div>
				<div class="item-impact__content">
					<div class="item-impact__title">Results</div>
					<p class="item-impact__descr">25% of those who opened the email played the game and learnt about the client's promotions</p>
				</div>
			</div>
		</div>
		<a href="#" class="button impact__button">Do the same for me</a>
	</div>
</section>
