<section class="insights">
	<div class="insights__container">
		<h2 class="title-2 insights__title">As a result — data-precision on audience targeting</h2>
		<div class="insights__flex">
			<div class="insights__item item-insights">
				<div class="item-insights__img">
					<img src="img/pages/programmatic-advertising/insights/simple-segment-icon.svg" alt="simple segment icon" />
				</div>
				<div class="item-insights__content">
					<h3 class="item-insights__title">Simple segment</h3>
					<p class="item-insights__subtitle">Targeting</p>
					<ul class="item-insights__list">
						<li class="item-insights__list-item">men</li>
						<li class="item-insights__list-item">30-40 y.o.</li>
						<li class="item-insights__list-item">Lives in Manchester</li>
					</ul>
				</div>
			</div>
			<div class="insights__divider">
				<img src="img/pages/programmatic-advertising/programmatic/arrow.svg" alt="arrow icon" />
			</div>
			<div class="insights__item item-insights">
				<div class="item-insights__img">
					<img src="img/pages/programmatic-advertising/insights/complex-segment-icon.svg" alt="complex segment icon" />
				</div>
				<div class="item-insights__content">
					<h3 class="item-insights__title">Complex segment</h3>
					<p class="item-insights__subtitle">Ultra-accurate targeting</p>
					<ul class="item-insights__list">
						<li class="item-insights__list-item">30-40 y.o.</li>
						<li class="item-insights__list-item">men</li>
						<li class="item-insights__list-item item-insights__list-item_accent">Lives in the city centre of Manchester</li>
						<li class="item-insights__list-item item-insights__list-item_accent">Income is £65k+</li>
						<li class="item-insights__list-item item-insights__list-item_accent">Interested in mortgage</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
