<section id="managing" class="managing">
	<div class="managing__container">
		<h2 class="title-2 managing__title">Cost of setting up and managing <span>Google Ads</span></h2>
		<p class="managing__subtitle">The final cost is calculated on an individual basis after a briefing and project evaluation.</p>
		<div class="managing__grid">
			<div class="managing__item item-managing">
				<div class="item-managing__title">Google Ads with<br />pay-per-service</div>
				<div class="item-managing__list-title">What is included in the service</div>
				<ul class="item-managing__list">
					<div class="item-managing__list-item">Systemic transparent work on campaigns</div>
					<div class="item-managing__list-item">Budget rebalancing</div>
					<div class="item-managing__list-item">Testing of 4 hypotheses per month</div>
					<div class="item-managing__list-item">Clear and informative reporting Setup of basic analytics</div>
					<div class="item-managing__list-item">Personal manager</div>
				</ul>
				<button class="button item-managing__button">send request</button>
			</div>
			<div class="managing__item item-managing">
				<div class="item-managing__title">Google Ads with financial guarantees</div>
				<div class="item-managing__list-title">What is included in the service</div>
				<ul class="item-managing__list">
					<div class="item-managing__list-item">Systemic transparent work on campaigns</div>
					<div class="item-managing__list-item">Budget rebalancing Individual development plan*</div>
					<div class="item-managing__list-item">Testing of 10 hypotheses per month</div>
					<div class="item-managing__list-item">Clear and informative reporting Setup of basic analytics</div>
					<div class="item-managing__list-item">Personal manager Free banner resizing Connection of call tracking</div>
				</ul>
				<button class="button item-managing__button">send request</button>
			</div>
			<div class="managing__item item-managing">
				<div class="item-managing__title">Google Ads with pay per leads</div>
				<div class="item-managing__list-title">What is included in the service</div>
				<ul class="item-managing__list">
					<div class="item-managing__list-item">Systemic transparent work on campaigns</div>
					<div class="item-managing__list-item">Budget rebalancing Individual development plan*</div>
					<div class="item-managing__list-item">Testing of 10 hypotheses per month</div>
					<div class="item-managing__list-item">Clear and informative reporting</div>
					<div class="item-managing__list-item">Setup of basic analytics</div>
					<div class="item-managing__list-item">Personal manager</div>
					<div class="item-managing__list-item">Free banner resizing Connection of call tracking</div>
					<div class="item-managing__list-item">Pay for leads, enquiries and orders, leave the rest to us</div>
					<div class="item-managing__list-item">There is a fixed and variable part of the fee</div>
				</ul>
				<button class="button item-managing__button">send request</button>
			</div>
		</div>
		<div class="managing__bottom-text">The plan is developed individually for the project. Depending on the business need, in case a certain type of advertising is not required, hours are allocated to prioritised advertising and the volume of key phrases is increased.</div>
	</div>
</section>
