<section class="precision">
	<div class="precision__container">
		<div class="precision__content">
			<h2 class="title-2 precision__title">Use technology to find a narrow and relevant audience with</h2>
			<div class="precision__items">
				<div class="precision__item item-precision">
					<div class="item-precision__number">1</div>
					<p class="item-precision__descr">Data on the websites visited</p>
				</div>
				<div class="precision__item item-precision">
					<div class="item-precision__number">2</div>
					<p class="item-precision__descr">Publicly available contact information</p>
				</div>
				<div class="precision__item item-precision">
					<div class="item-precision__number">3</div>
					<p class="item-precision__descr">Artificial Intelligence</p>
				</div>
				<div class="precision__item item-precision">
					<div class="item-precision__number">4</div>
					<p class="item-precision__descr">Offline shopping</p>
				</div>
				<div class="precision__item item-precision">
					<div class="item-precision__number">5</div>
					<p class="item-precision__descr">Activity on social media</p>
				</div>
			</div>
		</div>
		<div class="precision__img">
			<img src="img/pages/programmatic-advertising/precision/woman-with-smartphone.svg" alt="woman with smartphone" />
			<div class="precision__decoration"></div>
		</div>
	</div>
</section>
