<section id="how" class="programmatic">
	<div class="programmatic__container">
		<h2 class="title-2 programmatic__title"><span>How does </span>Programmatic work</h2>
		<div class="programmatic__item item-programmatic">
			<div class="item-programmatic__left"></div>
			<div class="item-programmatic__content">
				<div class="item-programmatic__line">
					<div class="item-programmatic__item item-programmatic__item_light">Buying <span>space on the website</span></div>
					<div class="item-programmatic__arrow">
						<img src="img/pages/programmatic-advertising/programmatic/arrow.svg" alt="arrow icon" />
					</div>
					<div class="item-programmatic__arrow_sm">
						<img src="img/pages/programmatic-advertising/programmatic/arrow_sm.svg" alt="arrow icon small" />
					</div>
					<div class="item-programmatic__item item-programmatic__item_dark">Buying <span>an audience</span></div>
				</div>
				<div class="item-programmatic__line">
					<div class="item-programmatic__item item-programmatic__item_light">To configure the settings, <span>we use the site's aditory data</span></div>
					<div class="item-programmatic__arrow">
						<img src="img/pages/programmatic-advertising/programmatic/arrow.svg" alt="arrow icon" />
					</div>
					<div class="item-programmatic__arrow_sm">
						<img src="img/pages/programmatic-advertising/programmatic/arrow_sm.svg" alt="arrow icon small" />
					</div>
					<div class="item-programmatic__item item-programmatic__item_dark">To set it up, we use<br /><span>Big Data</span></div>
				</div>
				<div class="item-programmatic__line">
					<div class="item-programmatic__item item-programmatic__item_light"><span>Price model</span> of purchasing</div>
					<div class="item-programmatic__arrow">
						<img src="img/pages/programmatic-advertising/programmatic/arrow.svg" alt="arrow icon" />
					</div>
					<div class="item-programmatic__arrow_sm">
						<img src="img/pages/programmatic-advertising/programmatic/arrow_sm.svg" alt="arrow icon small" />
					</div>
					<div class="item-programmatic__item item-programmatic__item_dark"><span>Auction-based procurement model</span></div>
				</div>
				<div class="item-programmatic__line">
					<div class="item-programmatic__item item-programmatic__item_light">Showing ads to <span>everyone on the site</span></div>
					<div class="item-programmatic__arrow">
						<img src="img/pages/programmatic-advertising/programmatic/arrow.svg" alt="arrow icon" />
					</div>
					<div class="item-programmatic__arrow_sm">
						<img src="img/pages/programmatic-advertising/programmatic/arrow_sm.svg" alt="arrow icon small" />
					</div>
					<div class="item-programmatic__item item-programmatic__item_dark">Show ads to <span>interested users only</span></div>
				</div>
			</div>
		</div>
	</div>
</section>
