<article class="push">
	<div class="push__container">
		<p class="push__text">We use cookies to provide the best possible experience for our users. They help us provide essential functionality and improve site performance, and allow us to offer a more personalised experience when using the site. For more information: <a href="#" class="push__link-privacy">Privacy</a></p>
		<div class="push__buttons">
			<button class="push__understand">I understand</button>
			<button class="push__decline">Decline</button>
		</div>
	</div>
</article>
