<section id="reporting" class="reporting">
	<div class="reporting__container">
		<div class="reporting__img">
			<img loading="lazy" src="img/pages/programmatic-advertising/reporting/boy-with-graphic.gif" alt="boy with graphic" />
		</div>
		<div class="reporting__content">
			<h2 class="title-2 reporting__title">Reporting</h2>
			<p class="reporting__text">Our programmatic service places a strong emphasis on thorough measurement and reporting. By systematically analyzing campaign performance metrics, we deliver actionable insights that drive results. Our detailed reports provide an in-depth evaluation of campaign success, pinpointing areas for enhancement and guiding your decision-making for future strategies and activations.</p>
		</div>
	</div>
</section>
