<section id="saas" class="saas">
	<div class="saas__container">
		<h2 class="title-2 saas__title">PERFORMIQ for SaaS</h2>
	</div>
	<div class="saas__main">
		<div class="saas__slider slider-saas swiper">
			<div class="slider-saas__wrapper swiper-wrapper">
				<article class="slider-saas__slide swiper-slide">
					<div class="slider-saas__img">
						<picture>
							<source srcset="img/pages/main/saas/slide1-400.webp" media="(max-width: 767.98px)" type="image/webp" />
							<source srcset="img/pages/main/saas/slide1-400.gif" media="(max-width: 767.98px)" />

							<source srcset="img/pages/main/saas/slide1-800.webp" type="image/webp" />
							<img src="img/pages/main/saas/slide1-800.gif" alt="saas slide" />
						</picture>
					</div>

					<div class="slider-saas__content">
						<h3 class="slider-saas__title">Comprehensive Marketing Solutions for Software Companies</h3>
						<p class="slider-saas__text">At Performiq, we specialize in delivering comprehensive marketing solutions specifically tailored for software companies. Our innovative approach encompasses all channels, ensuring that your message reaches your target audience effectively. We operate on a CPA (Cost Per Acquisition) model, which prioritizes producing measurable financial results over merely driving traffic to your website.</p>
						<div class="slider-navigation slider-saas__navigation">
							<button class="slider-navigation__arrow slider-navigation__arrow-prev slider-saas__arrow slider-saas__arrow_prev">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M8.12155 10.5001H21.0002V13.5001H8.12155L13.0609 18.4395L10.9396 20.5608L2.37891 12.0001L10.9396 3.43945L13.0609 5.56077L8.12155 10.5001Z" />
								</svg>
							</button>
							<div class="slider-navigation__bullets slider-saas__bullets"></div>
							<button class="slider-navigation__arrow slider-navigation__arrow-next slider-saas__arrow slider-saas__arrow_next">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M15.4775 13.5568H2.92383V10.4428H15.4775L10.6628 5.31571L12.7306 3.11377L21.0752 11.9998L12.7306 20.8858L10.6628 18.6838L15.4775 13.5568Z" />
								</svg>
							</button>
						</div>
					</div>
				</article>
				<article class="slider-saas__slide swiper-slide">
					<div class="slider-saas__img">
						<picture>
							<img loading="lazy" src="img/pages/main/saas/slide2.svg" alt="saas slide" />
						</picture>
					</div>

					<div class="slider-saas__content">
						<h3 class="slider-saas__title">Results-Driven Strategy Focused on ROI</h3>
						<p class="slider-saas__text">By implementing our CPA model, we concentrate on actual conversions and sales as the key metrics of success. This results-driven strategy prioritizes return on investment (ROI) for our software clients, guaranteeing that every marketing effort is strategically aligned with generating tangible financial outcomes. We believe in the power of data, measuring success through concrete results such as software licenses sold and leads converted into customers.</p>
						<div class="slider-navigation slider-saas__navigation">
							<button class="slider-navigation__arrow slider-navigation__arrow-prev slider-saas__arrow slider-saas__arrow_prev">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M8.12155 10.5001H21.0002V13.5001H8.12155L13.0609 18.4395L10.9396 20.5608L2.37891 12.0001L10.9396 3.43945L13.0609 5.56077L8.12155 10.5001Z" />
								</svg>
							</button>
							<div class="slider-navigation__bullets slider-saas__bullets"></div>
							<button class="slider-navigation__arrow slider-navigation__arrow-next slider-saas__arrow slider-saas__arrow_next">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M15.4775 13.5568H2.92383V10.4428H15.4775L10.6628 5.31571L12.7306 3.11377L21.0752 11.9998L12.7306 20.8858L10.6628 18.6838L15.4775 13.5568Z" />
								</svg>
							</button>
						</div>
					</div>
				</article>
				<article class="slider-saas__slide swiper-slide">
					<div class="slider-saas__img">
						<picture>
							<source srcset="img/pages/main/saas/slide3-400.webp" media="(max-width: 767.98px)" type="image/webp" />
							<source srcset="img/pages/main/saas/slide3-400.gif" media="(max-width: 767.98px)" />

							<source srcset="img/pages/main/saas/slide3-800.webp" type="image/webp" />
							<img loading="lazy" src="img/pages/main/saas/slide3-800.gif" alt="saas slide" />
						</picture>
					</div>

					<div class="slider-saas__content">
						<h3 class="slider-saas__title">Continuous Refinement for Sustainable Growth</h3>
						<p class="slider-saas__text">At Performiq, we understand that financial metrics are crucial for assessing performance. Our commitment lies in tracking these metrics diligently to continuously refine our marketing strategies. This ensures that each marketing dollar spent contributes effectively to our client's business objectives. With a multi-channel marketing strategy aligned with the unique goals of software companies, we foster sustainable growth and help you thrive in a competitive landscape. Partner with us to elevate your marketing efforts and achieve remarkable financial success!</p>
						<div class="slider-navigation slider-saas__navigation">
							<button class="slider-navigation__arrow slider-navigation__arrow-prev slider-saas__arrow slider-saas__arrow_prev">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M8.12155 10.5001H21.0002V13.5001H8.12155L13.0609 18.4395L10.9396 20.5608L2.37891 12.0001L10.9396 3.43945L13.0609 5.56077L8.12155 10.5001Z" />
								</svg>
							</button>
							<div class="slider-navigation__bullets slider-saas__bullets"></div>
							<button class="slider-navigation__arrow slider-navigation__arrow-next slider-saas__arrow slider-saas__arrow_next">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M15.4775 13.5568H2.92383V10.4428H15.4775L10.6628 5.31571L12.7306 3.11377L21.0752 11.9998L12.7306 20.8858L10.6628 18.6838L15.4775 13.5568Z" />
								</svg>
							</button>
						</div>
					</div>
				</article>
			</div>
		</div>

		<div class="saas__decoration"></div>
	</div>
</section>
