<section id="services" class="services">
	<div class="services__container">
		<h2 class="title-2 services__title">Propelling your business growth with cutting-edge digital marketing tools that drive sales</h2>
		<div class="services__flex">
			<article class="services__item item-services">
				<a href="#" class="item-services__top">
					<div class="item-services__icon">
						<img src="img/icons/seo-icon.png" alt="seo-icon" />
					</div>
					<div class="title-3 item-services__title">SEO</div>
				</a>
				<p class="item-services__text">Enhance visibility, drive organic traffic, gain credibility, and improve consumer engagement. Measure ROI and outperform competitors with strategic keyword optimization and content.</p>
			</article>
			<article class="services__item item-services">
				<a href="#" class="item-services__top">
					<div class="item-services__icon">
						<img src="img/icons/email-icon.png" alt="email-icon" />
					</div>
					<div class="title-3 item-services__title">Email</div>
				</a>
				<p class="item-services__text">Foster direct customer relationships, personalize outreach, boost conversions, and nurture leads. Cost-effective with measurable results and segmentation to enhanceтretention and engagement.</p>
			</article>
			<article class="services__item item-services">
				<a href="#" class="item-services__top">
					<div class="item-services__icon">
						<img src="img/icons/ppc-icon.png" alt="ppc-icon" />
					</div>
					<div class="title-3 item-services__title">PPC</div>
				</a>
				<p class="item-services__text">Boost website traffic, increase brand awareness, and target specific audiences. Maximize ROI with precise ad placement, budget control, and measurable analytics.</p>
			</article>
			<article class="services__item item-services">
				<a href="#" class="item-services__top">
					<div class="item-services__icon">
						<img src="img/icons/programmatic-icon.png" alt="programmatic-icon" />
					</div>
					<div class="title-3 item-services__title">Programmatic</div>
				</a>
				<p class="item-services__text">Identify and address lifecycle leaks throughout the entire bowtie funnel to enhance consistency, maintain brand awareness, and optimise conversion rates.</p>
			</article>
			<article class="services__item item-services">
				<a href="#" class="item-services__top">
					<div class="item-services__icon">
						<img src="img/icons/marketing-icon.png" alt="marketing-icon" />
					</div>
					<div class="title-3 item-services__title">Marketing Digital Strategy</div>
				</a>
				<p class="item-services__text">A ready-made action plan (goals, stages, advertising channels, budgets, and revenue) that you can use to launch your promotion independently.</p>
			</article>
			<article class="services__item item-services">
				<a href="#" class="item-services__top">
					<div class="item-services__icon">
						<img src="img/icons/cro-icon.png" alt="cro-icon" />
					</div>
					<div class="title-3 item-services__title">CRO</div>
				</a>
				<p class="item-services__text">Transform clicks into income using performance-focused conversion strategies that optimise return on investment.</p>
			</article>
		</div>
	</div>
</section>
