<section id="solution" class="solution">
	<div class="solution__container">
		<div class="solution__main">
			<h2 class="title-2 solution__title">What tasks<br />are we solving</h2>
			<p class="solution__text">We have a clear process - from submitting an application to presenting the offer takes on average 3 day, and 2 weeks from signing the contract to sending the first letter. Once the contract has been signed, an account manager will be in constant contact with you and several specialists will be permanently involved in the project: designer, email marketer, technical specialist, layout designer and editor. All this to make your email marketing as effective as possible.</p>
		</div>
		<article class="solution__chat chat-solution">
			<div class="chat-solution__item">
				<div class="chat-solution__number">1</div>
				<div class="chat-solution__message">
					<div class="chat-solution__text">You send a request</div>
					<div class="chat-solution__icon">
						<img src="img/pages/email/solution/man-gesturing-ok.png" alt="man gesturing ok" />
					</div>
				</div>
			</div>
			<div class="chat-solution__item">
				<div class="chat-solution__message">
					<div class="chat-solution__text">We prepare the offer and present it to you</div>
					<div class="chat-solution__icon">
						<img src="img/pages/email/solution/envelop.png" alt="envelop" />
					</div>
				</div>
				<div class="chat-solution__number">2</div>
			</div>
			<div class="chat-solution__item">
				<div class="chat-solution__number">3</div>
				<div class="chat-solution__message">
					<div class="chat-solution__text">We sign the agreement</div>
					<div class="chat-solution__icon">
						<img src="img/pages/email/solution/pen.png" alt="pen" />
					</div>
				</div>
			</div>
			<div class="chat-solution__item">
				<div class="chat-solution__message">
					<div class="chat-solution__text">At the speed of light (and at the same time very qualitatively) prepare a time plan, set up the service and make subscription forms on the site</div>
					<div class="chat-solution__icon">
						<img src="img/pages/email/solution/rocket.png" alt="rocket" />
					</div>
				</div>
				<div class="chat-solution__number">4</div>
			</div>
			<div class="chat-solution__item">
				<div class="chat-solution__number">5</div>
				<div class="chat-solution__message">
					<div class="chat-solution__text">Preparing the first letter for dispatch. As a rule, it takes 2 weeks from signing the contract to dispatch</div>
					<div class="chat-solution__icon">
						<img src="img/pages/email/solution/love-letter.png" alt="love-letter" />
					</div>
				</div>
			</div>
		</article>
	</div>
</section>
