<section class="solvings">
	<div class="solvings__container">
		<h2 class="title-2 solvings__title">Challenges we are addressing:</h2>
		<p class="solvings__subtitle">Email marketing helps solve a variety of business problems, from increasing conversions to improving user-experience</p>
		<div class="solvings__grid">
			<div class="solvings__item">
				<div class="solvings__icon">
					<img src="img/pages/email/solvings/wings-money.png" alt="wings money" />
				</div>
				<div class="solvings__descr">Increase CR</div>
			</div>
			<div class="solvings__item">
				<div class="solvings__icon">
					<img src="img/pages/email/solvings/woman-icon.png" alt="woman icon" />
				</div>
				<div class="solvings__descr">Unloading the helpdesk</div>
			</div>
			<div class="solvings__item">
				<div class="solvings__icon">
					<img src="img/pages/email/solvings/increase-loyality-icon.png" alt="increas loyality icon" />
				</div>
				<div class="solvings__descr">Increase loyalty</div>
			</div>
			<div class="solvings__item">
				<div class="solvings__icon">
					<img src="img/pages/email/solvings/handling-complaints.png" alt="handling complaints" />
				</div>
				<div class="solvings__descr">Handling complaints</div>
			</div>
			<div class="solvings__item">
				<div class="solvings__icon">
					<img src="img/pages/email/solvings/notification-icon.png" alt="notification icon" />
				</div>
				<div class="solvings__descr">Status notification</div>
			</div>
			<div class="solvings__item">
				<div class="solvings__icon">
					<img src="img/pages/email/solvings/raising-awareness-icon.png" alt="raising awareness icon" />
				</div>
				<div class="solvings__descr">Raising awareness</div>
			</div>
			<div class="solvings__item">
				<div class="solvings__icon">
					<img src="img/pages/email/solvings/increase-retention-icon.png" alt="increase-retention-icon" />
				</div>
				<div class="solvings__descr">Increase retention</div>
			</div>
			<div class="solvings__item">
				<div class="solvings__icon">
					<img src="img/pages/email/solvings/retrieving-the-lost-customers-icon.png" alt="retrieving the lost customers icon" />
				</div>
				<div class="solvings__descr">Retrieving the lost customers</div>
			</div>
			<div class="solvings__item">
				<div class="solvings__icon">
					<img src="img/pages/email/solvings/conducting-surveys-icon.png" alt="conducting-surveys-icon" />
				</div>
				<div class="solvings__descr">Conducting surveys</div>
			</div>
			<div class="solvings__item">
				<div class="solvings__icon">
					<img src="img/pages/email/solvings/swords-icon.png" alt="swords-icon" />
				</div>
				<div class="solvings__descr">We invite you to the events</div>
			</div>
			<div class="solvings__item">
				<div class="solvings__icon">
					<img src="img/pages/email/solvings/products-launching-icon.png" alt="products launching icon" />
				</div>
				<div class="solvings__descr">Products launching</div>
			</div>
			<div class="solvings__item">
				<div class="solvings__icon">
					<img src="img/pages/email/solvings/distributing-content-icon.png" alt="distributing-content-icon" />
				</div>
				<div class="solvings__descr">Distributing content</div>
			</div>
			<div class="solvings__item">
				<div class="solvings__icon">
					<img src="img/pages/email/solvings/raising-the-average-receipt-icon.png" alt="raising the average receipt icon" />
				</div>
				<div class="solvings__descr">Raising the average receipt</div>
			</div>
			<div class="solvings__item">
				<div class="solvings__icon">
					<img src="img/pages/email/solvings/decrease-cpa-icon.png" alt="decrease cpa icon" />
				</div>
				<div class="solvings__descr">Decrease CPA</div>
			</div>
			<div class="solvings__item">
				<div class="solvings__icon">
					<img src="img/pages/email/solvings/support-after-the-purchase-icon.png" alt="support after the purchase icon" />
				</div>
				<div class="solvings__descr">Support after the purchase</div>
			</div>
			<div class="solvings__item">
				<div class="solvings__icon">
					<img src="img/pages/email/solvings/reducing-the-time-to-purchase-icon.png" alt="reducing the time to purchase icon" />
				</div>
				<div class="solvings__descr">Reducing the time to purchase</div>
			</div>
		</div>
		<a href="#" class="button solvings__button">Learn how email marketing will help me</a>
	</div>
</section>
