<section class="split">
	<div class="split__container">
		<div class="split__main">
			<h2 class="title-2 split__title">We'll find <span>the most profitable</span> option</h2>
			<p class="split__text">Split testing (A/B testing) - testing different versions of pages on the of the site and their impact on sales.</p>
			<p class="split__text">Versions may differ in the layout of elements, content, forms, CTAs.</p>
			<p class="split__text">Our job is to find the elements that affect conversion rates and improve them. We will create a test variant ourselves and test its effectiveness. All our hypotheses are based on data from analytics systems and research into the specific behaviour of users on your site.</p>
		</div>
		<div class="split__illustration illustration-split">
			<div class="illustration-split__top">A <span>/</span> B</div>
			<div class="illustration-split__descr">testing</div>
		</div>
	</div>
</section>
