<section class="stats" aria-labelledby="stats-title">
	<h2 id="stats-title" class="visually-hidden">Our Achievements</h2>
	<div class="stats__container">
		<ul class="stats__list">
			<li class="stats__item">
				<div class="title-1 stats__counter" aria-label="50,000 plus">50k+</div>
				<p class="title-4 stats__description">Marketing Specialists</p>
			</li>
			<li class="stats__divider" aria-hidden="true"></li>
			<li class="stats__item">
				<div class="title-1 stats__counter" aria-label="10 plus">10+</div>
				<p class="title-4 stats__description">Industries Served</p>
			</li>
			<li class="stats__divider" aria-hidden="true"></li>
			<li class="stats__item">
				<div class="title-1 stats__counter" aria-label="17">17</div>
				<p class="title-4 stats__description">Years on the market</p>
			</li>
		</ul>
	</div>
</section>
