<section id="stages" class="stages">
	<div class="stages__container">
		<h2 class="title-2 stages__title">Stages</h2>
		<ul class="stages__list">
			<li class="stages__item item-stages">
				<div class="item-stages__top">
					<div class="item-stages__number">1</div>
					<div class="item-stages__arrow">
						<svg xmlns="http://www.w3.org/2000/svg" width="234" height="6" viewBox="0 0 234 6" fill="none">
							<g clip-path="url(#clip0_5372_2345)">
								<path d="M233.116 3.08524L227.491 0.198242V5.97224L233.116 3.08524ZM0.5625 3.58524H228.053V2.58524H0.5625V3.58524Z" fill="#B6B6B6" />
							</g>
							<defs>
								<clipPath id="clip0_5372_2345">
									<rect width="234" height="6" fill="white" />
								</clipPath>
							</defs>
						</svg>
					</div>
				</div>
				<div class="item-stages_text">Looking for relevant audiences</div>
			</li>
			<li class="stages__item item-stages">
				<div class="item-stages__top">
					<div class="item-stages__number">2</div>
					<div class="item-stages__arrow">
						<svg xmlns="http://www.w3.org/2000/svg" width="234" height="6" viewBox="0 0 234 6" fill="none">
							<g clip-path="url(#clip0_5372_2345)">
								<path d="M233.116 3.08524L227.491 0.198242V5.97224L233.116 3.08524ZM0.5625 3.58524H228.053V2.58524H0.5625V3.58524Z" fill="#B6B6B6" />
							</g>
							<defs>
								<clipPath id="clip0_5372_2345">
									<rect width="234" height="6" fill="white" />
								</clipPath>
							</defs>
						</svg>
					</div>
				</div>
				<div class="item-stages_text">Broadcasting value proposition</div>
			</li>
			<li class="stages__item item-stages">
				<div class="item-stages__top">
					<div class="item-stages__number">3</div>
					<div class="item-stages__arrow">
						<svg xmlns="http://www.w3.org/2000/svg" width="234" height="6" viewBox="0 0 234 6" fill="none">
							<g clip-path="url(#clip0_5372_2345)">
								<path d="M233.116 3.08524L227.491 0.198242V5.97224L233.116 3.08524ZM0.5625 3.58524H228.053V2.58524H0.5625V3.58524Z" fill="#B6B6B6" />
							</g>
							<defs>
								<clipPath id="clip0_5372_2345">
									<rect width="234" height="6" fill="white" />
								</clipPath>
							</defs>
						</svg>
					</div>
				</div>
				<div class="item-stages_text">Convert to a lead or target agan</div>
			</li>
			<li class="stages__item item-stages">
				<div class="item-stages__top">
					<div class="item-stages__number">4</div>
				</div>
				<div class="item-stages_text">Scaling the best<br />bindings</div>
			</li>
		</ul>
	</div>
</section>
