<section id="steps" class="steps">
	<div class="steps__container">
		<h2 class="title-2 steps__title">STEPS</h2>
		<div class="steps__grid">
			<div class="steps__item item-steps">
				<div class="item-steps__counter">1 step</div>
				<div class="item-steps__img">
					<img loading="lazy" src="img/pages/programmatic-advertising/steps/step1.png" alt="step 1" />
				</div>
				<div class="item-steps__title">Define campaign goals</div>
				<p class="item-steps__descr">This could be to increase brand awareness, lead generation, sales or other specific goals. Campaign goals will help you select the appropriate metrics to track performance.</p>
			</div>
			<div class="steps__item item-steps">
				<div class="item-steps__counter">2 step</div>
				<div class="item-steps__img">
					<img loading="lazy" src="img/pages/programmatic-advertising/steps/step2.png" alt="step 2" />
				</div>
				<div class="item-steps__title">Research and segment the audience</div>
				<p class="item-steps__descr">At this stage, we determine who your target audience is. Analysis of demographics, interests, behaviour and other parameters that will help you set up accurate targeting.</p>
			</div>
			<div class="steps__item item-steps">
				<div class="item-steps__counter">3 step</div>
				<div class="item-steps__img">
					<img loading="lazy" src="img/pages/programmatic-advertising/steps/step3.png" alt="step 3" />
				</div>
				<div class="item-steps__title">Choice of platforms and tools</div>
				<p class="item-steps__descr">Selecting the right platforms to launch a programmatic campaign, allowing you to automatically buy and optimise ad space. At this stage, we also set up the appropriate tracking and analytics tools.</p>
			</div>
			<div class="steps__item item-steps">
				<div class="item-steps__counter">4 step</div>
				<div class="item-steps__img">
					<img loading="lazy" src="img/pages/programmatic-advertising/steps/step4.png" alt="step 4" />
				</div>
				<div class="item-steps__title">Creatives</div>
				<p class="item-steps__descr">We develop the creative to be used in the campaign. This includes banners, videos, text ads and other formats tailored to the interests and preferences of the target audience.</p>
			</div>
			<div class="steps__item item-steps">
				<div class="item-steps__counter">5 step</div>
				<div class="item-steps__img">
					<img loading="lazy" src="img/pages/programmatic-advertising/steps/step5.png" alt="step 5" />
				</div>
				<div class="item-steps__title">Campaign Setup</div>
				<p class="item-steps__descr">Set up campaign parameters in the selected DSP: set budget, bids, geo-targeting, ad display time and other key factors that affect ad delivery.</p>
			</div>
			<div class="steps__item item-steps">
				<div class="item-steps__counter">6 step</div>
				<div class="item-steps__img">
					<img loading="lazy" src="img/pages/programmatic-advertising/steps/step6.png" alt="step 6" />
				</div>
				<div class="item-steps__title">Launch and monitoring</div>
				<p class="item-steps__descr">Once a campaign has been launched, we regularly monitor its performance and metrics. This allows us to make timely adjustments to improve results, such as reallocating budget or changing targeting.</p>
			</div>
			<div class="steps__item item-steps">
				<div class="item-steps__counter">7 step</div>
				<div class="item-steps__img">
					<img loading="lazy" src="img/pages/programmatic-advertising/steps/step7.png" alt="step 7" />
				</div>
				<div class="item-steps__title">Optimisation and scalability</div>
				<p class="item-steps__descr">Based on the analysis of campaign performance data, we optimise the campaign. This may include changing creative, changing audiences, increasing bids on more effective channels or reducing bids on less effective channels.</p>
			</div>
		</div>
	</div>
</section>
