<section id="services" class="targeting">
	<div class="targeting__container">
		<h2 class="title-2 targeting__title">We take care of all the work involved in targeting</h2>
		<div class="targeting__grid">
			<article class="targeting__item item-targeting">
				<div class="item-targeting__header">
					<h3 class="item-targeting__title">Fee-for-service</h3>
					<div class="item-targeting__icon">
						<img src="img/pages/main/saas/slide2.svg" alt="sky man with money" />
					</div>
				</div>
				<div class="item-targeting__main">
					<div class="item-targeting__column">
						<h4 class="item-targeting__list-title">What is included in the service</h4>
						<ul class="item-targeting__list">
							<li class="item-targeting__list-item">1 Social Network</li>
							<li class="item-targeting__list-item">Definition of unit-economics</li>
							<li class="item-targeting__list-item">Systematic and transparent work on the advertising campaigns</li>
							<li class="item-targeting__list-item">Budget rebalancing</li>
							<li class="item-targeting__list-item">Personalised development plan</li>
							<li class="item-targeting__list-item">Testing of 4 hypotheses<br />per month</li>
							<li class="item-targeting__list-item">Clear and informative reporting</li>
							<li class="item-targeting__list-item">Personal manager</li>
						</ul>
					</div>
					<div class="item-targeting__column">
						<h4 class="item-targeting__list-title">Separately charged:</h4>
						<ul class="item-targeting__list">
							<li class="item-targeting__list-item">Budget for advertising campaign</li>
							<li class="item-targeting__list-item">Generating cool teasers<br />and banners</li>
							<li class="item-targeting__list-item">Setting up advanced analytics and call tracking</li>
							<li class="item-targeting__list-item">Setting up advanced analytics</li>
						</ul>
						<p class="item-targeting__descr">Cost of customisation and maintenance services for the system<br />100% prepaid</p>
					</div>
				</div>
				<button class="button item-targeting__button">Send request</button>
			</article>
			<article class="targeting__item item-targeting">
				<div class="item-targeting__header">
					<h3 class="item-targeting__title">With financial guarantees</h3>
					<div class="item-targeting__icon">
						<img src="img/pages/social-media-ads/targeting/sky-saving-money-in-piggy-bank.png" alt="sky saving money in piggy bank" />
					</div>
				</div>
				<div class="item-targeting__main">
					<div class="item-targeting__column">
						<h4 class="item-targeting__list-title">What is included in the service</h4>
						<ul class="item-targeting__list">
							<li class="item-targeting__list-item">2 Social Networks</li>
							<li class="item-targeting__list-item">Definition of unit-economics</li>
							<li class="item-targeting__list-item">Systematic and transparent work on the advertising campaigns</li>
							<li class="item-targeting__list-item">Budget rebalancing</li>
							<li class="item-targeting__list-item">Personalised development plan</li>
							<li class="item-targeting__list-item">Testing of 10 hypotheses per month</li>
							<li class="item-targeting__list-item">Clear and informative reporting</li>
							<li class="item-targeting__list-item">Personal manager</li>
						</ul>
					</div>
					<div class="item-targeting__column">
						<h4 class="item-targeting__list-title">Separately charged:</h4>
						<ul class="item-targeting__list">
							<li class="item-targeting__list-item">Budget for advertising campaign</li>
							<li class="item-targeting__list-item">Generating cool teasers and banners</li>
							<li class="item-targeting__list-item">Setting up advanced analytics and call tracking</li>
						</ul>
						<p class="item-targeting__descr">Cost of customisation and maintenance services per system. 50% upfront, the second 50% only upon achievement of KPIs</p>
					</div>
				</div>
				<button class="button item-targeting__button">Send request</button>
			</article>
		</div>
	</div>
</section>
