<section id="technoligies" class="technologies">
	<div class="technologies__container">
		<h2 class="title-2 technologies__title"><span>Google technologies</span> for your business</h2>
		<div class="technologies__grid">
			<div class="technologies__item item-technologies">
				<div class="item-technologies__img">
					<img src="img/pages/google-ads/technologies/eye.png" alt="eye icon" />
				</div>
				<div class="item-technologies__title">Show adverts to customers at the right time</div>
				<p class="item-technologies__descr">Show your ads at the right time in the massive Google Ads ecosystem. Google's artificial intelligence selects the most effective ad formats across YouTube, the search network and Google recommendations to maximise conversions.</p>
			</div>
			<div class="technologies__item item-technologies">
				<div class="item-technologies__img">
					<img src="img/pages/google-ads/technologies/signal.png" alt="signal icon" />
				</div>
				<div class="item-technologies__title">Tracking, learning and optimising for the highest return on investment</div>
				<p class="item-technologies__descr">Track conversions to get useful audience statistics. Google's automatic budget optimisation features help you attract new customers at the highest ROI.</p>
			</div>
			<div class="technologies__item item-technologies">
				<div class="item-technologies__img">
					<img src="img/pages/google-ads/technologies/monitor.png" alt="monitor icon" />
				</div>
				<div class="item-technologies__title">Monitor the budget</div>
				<p class="item-technologies__descr">Get recommendations, set a monthly budget and change it at any time. Google's technology can help you measure results and make the most of your advertising dollars.</p>
			</div>
		</div>
	</div>
</section>
